header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header > .header__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

header > .header__content > h3.header__content-welcome {
  font-size: 20px;
  font-weight: 500;
  color: var(--black-color);
}

header > .header__content > p.header__content-date {
  font-size: 18px;
  font-weight: 300;
  color: var(--gray-description-color);
}

header > .header__actions {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: stretch;
  gap: 8px;
}

header > .header__actions > .header__actions-more {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header > .header__actions > .header__actions-more:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
